:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --light-strong-cyan: #9fe8df;

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
* {
  font-family: "Space Mono", monospace;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Space Mono", monospace;
  width: 1440px;
  background-color: var(--light-grayish-cyan);
  text-align: center;
}
.logo {
  margin: auto;
  margin-top: 100px;
}
.app-container {
  background-color: white;
  height: 480px;
  width: 921px;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input_section {
  height: 417px;
  width: 413px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-value_section,
.num-of-ppl-input_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#input-value {
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 12px;
  background-position-x: 15px;
}
#num-of-ppl-input {
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 12px;
  background-position-x: 15px;
}

.output_section {
  background-color: var(--very-dark-cyan);
  height: 417px;
  width: 413px;
  border-radius: 15px;
}
.tip-percentage_section {
  width: 380px;
}
.percentage-btn {
  background-color: var(--very-dark-cyan);
  color: white;
  height: 48px;
  width: 117px;
  font-size: 24px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 5px 0px;
}
.percentage-btn:hover {
  background-color: var(--light-strong-cyan);
  color: var(--very-dark-cyan);
  cursor: pointer;
}
.active_pct-btn {
  background-color: var(--strong-cyan);
}
#custom-percentage {
  height: 46px;
  width: 115px;
  font-size: 24px;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 5px 0px;
  text-align: right;
}
.input-field {
  border: 2px solid transparent;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  border-radius: 7px;
  width: 376px;
  height: 44px;
  text-align: right;
  font-size: 24px;
  margin-top: 5px;
}
.input-field:hover,
#custom-percentage:hover {
  cursor: pointer;
  border: 2px solid var(--strong-cyan);
}
.not-valid {
  border: 2px solid red;
}
.not-valid-alert {
  position: absolute;
  left: 550px;
  color: red;
  font-size: 16px;
  display: none;
}
h1 {
  font-size: 17px;
  text-align: left;
  margin-bottom: 10px;
}
h1,
label {
  color: var(--dark-grayish-cyan);
}
.tip-percentage_section,
.input-value_section,
.num-of-ppl-input_section {
  margin: 15px auto;
}

.output_section div {
  width: 340px;
  height: 55px;
  margin: auto;
}
.tip-output_section {
  position: relative;
  top: 60px;
}
.total-output_section {
  position: relative;
  top: 95px;
}
.output_section h2 {
  text-align: left;
  font-size: 16px;
  color: white;
}
.output_section h3 {
  text-align: left;
  font-size: 13px;
  color: var(--grayish-cyan);
}
.output_section p {
  text-align: right;
  color: var(--strong-cyan);
  font-size: 50px;
  margin-top: -62px;
}
.reset-btn {
  width: 340px;
  height: 50px;
  margin: auto;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  margin-top: 215px;
}
.reset-btn:hover {
  cursor: pointer;
  background-color: var(--light-strong-cyan);
}

.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1300px) {
  .logo {
    margin-top: 35px;
  }
  .app-container {
    width: 375px;
    height: 785px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .input_section {
    width: 320px;
    height: 460px;
  }
  .input_section input {
    width: 320px;
  }
  .tip-percentage_section {
    width: 324px;
  }
  .percentage-btn {
    width: 153px;
  }
  #custom-percentage {
    width: 149px;
  }
  .percentage-btn, #custom-percentage {
    margin: 7px 2px;
  }
  .not-valid-alert {
    left: 753px;
    white-space: nowrap;
  }
  .output_section {
    width: 320px;
    height: 270px;
  }
  .output_section p {
    font-size: 35px;
    margin-top: -50px;
  }
  .tip-output_section {
    top: 45px;
  }
  .total-output_section {
    top: 60px;
  }
  #tip_output, #total_output, .reset-btn {
    width: 270px;
  }
  .reset-btn {
    margin-top: 85px;
  }
}
